---
layout: default
title: "Ravi Udeshi"
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>

    <div class="post-meta">
      <a href="/about">By Ravi Udeshi</a>
      <span>&nbsp;&#8260;&nbsp;</span>
      <span>{{ page.date | date_to_string }}</span>
      <span>&nbsp;&#8260;&nbsp;</span>
      <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/master/{{ page.path }}">M&#8595;</a>
    </div>

    <div class="post-content">
    {{ post.content | strip_html | truncate:600 }}
    </div>

    {% comment %}
    {{ post.content }}
    {% endcomment %}

  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<div class="more-posts">
<aside class="related">
  <h3>More posts</h3>
  <ul class="related-posts">
    {% for post in paginator.posts limit:20 %}
      <li>
        <span class="archives-dates"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %Y" }}</time></span>
        <span class="archives-titles"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
      </li>
    {% endfor %}
  </ul>
</aside>
</div>