<!-- add bigfoot.js footnotes -->
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.12.1.min.js" defer></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/bigfoot.min.js" defer></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var bigfoot = $.bigfoot(
      {
        actionOriginalFN: "ignore",
        numberResetSelector: "article"
      }
      );
    });
  </script>
<!-- end bigfoot.js footnotes -->
