// CUSTOM
//
// Added by Ravi.

.alignright { float: right; }
.alignleft { float: left; }

// Metadata under post titles
.post-meta, .post-meta a {
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 0.8rem;
}

// Header & menubar
.masthead a {
	padding-right: 1.5rem;
}

#header-menu {
	display: inline-block;
}

/* .header-menu a {
	padding-left: 30px;
} */