// CUSTOM
//
// Added by Ravi.



.alignright { float: right; }
.alignleft { float: left; }

::selection {
    background: #333;
    color: lightskyblue;
}




// Background colors

body {
    background-color: rgb(25, 25, 34);
}
.background {
    background-color: #FDFDFD;
    /*background-color: white;*/
    background-image: url(/silo/images/arches.png);
    background-attachment: fixed;
}




// Header & menubar

.masthead {
    font-size: 1.25rem;
    text-align: center;
    position: relative;
}
.masthead-menu {
    
    @media (max-width: 500px) {
        overflow-x: scroll;
        white-space: nowrap;
    }
}
.masthead-fadeout {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 5rem;
    pointer-events: none;

    @media (max-width: 500px) {
        background: linear-gradient(to right,rgba(53, 58, 74,0), #353A4A);
    }
}
.masthead-menu-item a, .masthead-menu-item a:hover {
    display: inline-block;
    color: inherit;
    padding: 0.7rem 0.7rem;
    transform: skew(15deg);
    text-decoration: none;

    @media (max-width: 30em) {
        padding: 0.7rem 0.5rem;
    }
}
.masthead-menu-item {
    display: inline-block;
    color: lightskyblue;
    opacity: 0.5;
    font-weight: 400;
    font-size: 90%;
    transform: skew(-15deg);
}
.masthead-menu-item:first-child {
    background: lightskyblue;
    color: white;
    opacity: 1;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
.masthead-menu-item:last-child {
    margin-right: 1rem;
}
.masthead-menu-item:hover {
    opacity: 0.8;

    &:nth-child(1) { opacity: 1; }
    &:nth-child(2) { color: pink; }
    &:nth-child(3) { color: orchid; }
    &:nth-child(4) { color: salmon; }
    &:nth-child(5) { color: orange; }
    /*
    hotpink
    lightskyblue
    lightcoral
    */
}



// Full-width header and footer

html, body {
  overflow-x: hidden;
}

.masthead {
    /* margin: 0 -9999rem; */
    /* padding: 0 9999rem; */
    margin: 0;
    padding: 0;
    background: #353A4A;
    /* box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3); */
    /* box-shadow: 0 0.4rem 0 lightskyblue; */
    /* margin-bottom: 1.5rem; */
    text-align: center;
}

.footer {
    /* margin: 3rem -9999rem 0rem; */
    /* padding: 1.5rem 9999rem; */
    /* margin: 3rem 0 0; */
    margin: 0rem 0 0;
    padding: 1.5rem 0;
    background: rgba(0, 0, 10, 0.9);
    /* border-top: 10px solid #353A4A; */
    border-top: 8px solid lightskyblue;
    
    /* margin: 6rem -19rem 0rem; */
    /* padding: 2rem 19rem 0rem; */
    /* border: 0px solid; */
    /* border-top: 10px solid; */
    /* border-image: linear-gradient(to right, pink, lightskyblue, pink) 1; */
}




// Footer

.footer {
    text-align: center;

    a {
        color:inherit;
        border-bottom: 1px dotted;
    }
    a:hover {
        text-decoration: none;
    }
}
.footer p {
    margin: 0.25rem;
}
.footer-meta {
    font-size: smaller;
    margin: 1rem;
}
.jump-to-top a {
    /* position: absolute; */
    /* right: calc(50% - 47vw); */
    /* bottom: 22px; */
    display: block;
    background: #333;
    color: #111;
    font-size: 1rem;
    /* width: 1.5rem; */
    width: 1.2rem;
    height: 1.2rem;
    /* border-radius: 5px; */
    border-radius: 50px;
    border: 1px solid;
    margin: 0.75rem auto 0;
}
.footer input {
    background: transparent;
    color: inherit;
    outline: none;
    padding: 0.25rem;
    border: 1px solid #333;
}


// Sticky footer

body {
  height: 100%;
}
.background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}




// Posts
.post-title a:hover {
    text-decoration: none;
}
.page, .post {
    padding: 1.5rem;
    margin: 1.5rem -0.5rem 2rem;
    background: white;
    /* border-radius: 10px; */
    border-radius: 1px;
    /*box-shadow: 0 0 3px #ddd;*/
    box-shadow: 0 2px 6px #eee;
    transition: box-shadow 0.5s;
    /*border: 1px solid #999;*/
}
.posts .post:hover {
    box-shadow: 0 0 5px #bbb;
}
.content-box {
    padding: 1.5rem;
    margin: -0.5rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #ddd;
    transition: box-shadow 0.5s;
}
.page, .post, .post-excerpt {
    position: relative;
    overflow: hidden;
}
.post-excerpt {
    margin-bottom: 0.25rem;
    max-height: 20rem;
}
.post-fadeout {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(256,256,256,0), white);
    pointer-events: none;
}



// Read more links
a.read-more {
    padding: 0.1rem 0.75rem;
    /* margin-left: 0.25rem; */
    /* border-radius: 1rem; */
    text-decoration: none;
    font-size: 75%;
    background: #FCFCFC;
    color: #888;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #eee; 
}
a.read-more:hover {
    background: #333;
    color: lightskyblue;
}




// Post titles
.page-title, .post-title, .post-title a {
    font-size: 1.5rem;
    line-height: 1.125;
}




// Metadata under post titles
.post-meta {
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.post-meta a, .post-meta a:hover {
    color: inherit;
}

// Share links
.post-bottom {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.share-all a {
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0.5rem;
    background: rgba(0,0,0,0.01);
    box-shadow: 0px 0px 0.25rem #eee;
    border-radius: 1rem;
    color: inherit;
}
.share-all a:hover {
    box-shadow: 0 0 5px;
    text-decoration: none;
}
.share-face { 
    /* color: #3b5998; */
    color: cornflowerblue;
}
.share-twit { 
    /* color: #55acee; */
    color: deepskyblue;
}
.share-email { 
    /* color: #c00; */
    color: orchid;
}


// Article headings

article h3 {
    /* border-top: 1px solid lightgray; */
    /* border-bottom: 1px solid lightgray; */
    text-align: center;
    padding: 5px 0 2px;
    margin: 2rem 0rem 1rem;
    color: hotpink;
    background: ghostwhite;
    border: 2px solid lightskyblue;
    border-left: none;
    border-right: none;
}
article h4 {
    margin: 1.5rem 0 1rem;
    font-size: 1.125rem;
}




// Footnotes
/* Unfortunately, Kramdown doesn't create an HR above the footnotes class */

.footnotes {
	/* margin-top: 3rem; */
    font-size: 60%;
}
.footnotes li p {
    margin-bottom: 1.25em;
}
.bigfoot-footnote p {
    color: #bbb;

    @media (min-width: $large-breakpoint) {
        font-size: smaller;
    }

}
.bigfoot-footnote strong {
    color: #ccc;   
}
.bigfoot-footnote p a, .bigfoot-footnote p a:visited {
    color: #eee;
}



// Pagination buttons

.pagination-item {
    background: linear-gradient(white, whitesmoke);
}


// Related posts "widget"

.related {
    padding: 0rem;
    border: 3px solid lightskyblue;
    border-left: none;
    border-right: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.01);
    background: ghostwhite;
    /*box-shadow: 0px 0px 5px #eee;*/
    border-radius: 3px;
}
.related h3 {
    margin-top: 1rem;
}
@media (max-width: 30em) {
  .related {
    margin: 0 -1.5rem 1rem;
}
}

// HR

hr {
    background: none;
    background-size: initial;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.99), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.99), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.99), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.99), rgba(0,0,0,0));
    background-image: linear-gradient(to right, transparent, pink, lightskyblue, pink, transparent);
    border: 0;
    height: 1px;
    margin: 2.5rem auto;
    width: 30%;
}




// Archives - list of posts

.archives-list {
    padding-bottom: 0.6rem;
    line-height: 1.2;
    display: table;
}
.archives-dates {
    /* float: left; */
    /* margin-right: 0.5em; */
    color: #999;
    font-size: 75%;
    display: table-cell;
    min-width: 4rem;
    white-space: nowrap;
}
.archives-titles {
    /* display: block; */
    /* overflow: hidden; */
    display: table-cell;
}



// Remove 300ms touch delay on iOS devices
a {
  touch-action: manipulation;
}

// Make code blocks scrollable (horizontal)
.highlight {
    overflow: scroll;
    max-height: 1000px;
}

// Make tables smaller

td, th { 
    font-size: smaller;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
}

table {
    border-style: hidden;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: #fefefe;
    /*background-color: transparent;*/
}

tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
    /*background-color: #fdfdfd;*/
}

tbody tr:hover, tbody tr:hover td {
    background-color: ghostwhite !important;
}