// CUSTOM
//
// Added by Ravi.

.alignright { float: right; }
.alignleft { float: left; }

// Metadata under post titles
.post-meta, .post-meta a {
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 0.8rem;
}

// Header & menubar
.masthead a {
	padding-right: 1.5rem;
}

#header-menu {
	display: inline-block;
}

/* .header-menu a {
	padding-left: 30px;
} */

// Article headings
article h3 {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 5px 0 2px;
    margin: 2rem 0rem 1rem;
}
article h4 {
    margin: 1.5rem 0 1rem;
    font-size: 1.125rem;
}

// Footnotes
/* Unfortunately, Kramdown doesn't give me an HR above the footnotes class */
.footnotes {
	margin-top: 3rem;
	text-size: small;
}