---
layout: default
---

<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>
  
  <div class="post-meta">
    <a href="/about">By Ravi Udeshi</a>
    <span>&nbsp;&#8260;&nbsp;</span>
    <a href="{{ site.url}}{{ page.url }}"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></a>
    <span>&nbsp;&#8260;&nbsp;</span>
    <span>{{ content | strip_html | number_of_words | plus:100 | divided_by:200 }} min read</span>
    <span>&nbsp;&#8260;&nbsp;</span>
    <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/master/{{ page.path }}">M&#8595;</a>
  </div>
  
  <div class="post-content">{{ content }}</div>

  <div class="post-meta post-bottom">
    
    <span class="share-all share-face"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Share</a></span>
    
    <span class="share-all share-twit"><a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Tweet</a></span>
    
    <span class="share-all share-email"><a href="mailto:?subject={{ page.title | cgi_escape | replace:'+','%20' }}&body={{ page.title | cgi_escape | replace:'+','%20' }}%0D%0A{{ site.url }}{{ page.url }}" target="_blank" title="Share by Email">Email</a></span>
  
  </div>

  {% if site.related_posts != empty %}
  <div>
    <h4>Related posts</h4>
      {% assign randomposts = site.posts | sample:5 %}
      {% for post in randomposts %}
        <div class="archives-list">
        <span class="archives-titles"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
        </div>
      {% endfor %}
  </div>
  {% endif %}


</article>

{% if site.related_posts == empty %}
<aside class="related">
  <h3>Related posts</h3>
    {% for post in site.related_posts limit:5 %}
      <div class="archives-list">
      <span class="archives-titles"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
      </div>
    {% endfor %}
</aside>
{% endif %}
