---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-meta">
  <a href="/about">By Ravi Udeshi</a>
  <span>&nbsp;&#8260;&nbsp;</span>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  <span>&nbsp;&#8260;&nbsp;</span>
  <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/master/{{ page.path }}">M&#8595;</a>
  </span>
  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}